* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #00cffd;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

html {
  font-size: 62.5%;
  line-height: 1.2;
}

#root {
  display: grid;
  grid-template-columns:
    min-content repeat(10, minmax(min-content, 1fr))
    min-content;

  background-color: #dff6f3;
  overflow: hidden;
}

.main {
  grid-column: 2 / -2;
  /* display: grid;
  grid-template-columns:
    min-content repeat(10, minmax(min-content, 1fr))
    min-content; */
  width: 90%;
  margin: 0 auto;
}
